            
             .log2{
               position: fixed;
               width: 60px;
               height: 60px;
              left: 515px;
              top: 5px;
               border-radius: 100px;
           }
            .head1{
                position: fixed;
                left: 580px;
                color:white;
            }
             .head{
                 position: fixed;
                 top: 0;
                 left: 0;
                 width: 1300px;
                background-color:#0E185F;
                 height: 70px;
                 
               }
              .b1{
               position: fixed;
               right: 30px;
               top: 15px;
               padding: 10px;
               text-decoration: none;
               border-style:  solid;
               border-width: 1px;
               border-radius:10px;
               border-color: white;
               color: white;
                
               }
               
 table {  
border-collapse: collapse;  
width: 70%;
}  
 td {  
text-align:center;  
padding: 8px;  
color: black; 
background-color: rgb(204,255,255);
  border-style:  solid;
   border-width: 1px;

}  
 
th {  
background-color: #243763;  
color: white;  
  border-style:  solid;
   border-width: 1px;
   padding: 8px;  
  
    }  

