            body{ 
                margin:0;
                text-align: center;
         }
            .head{
                background-color:#0E185F;
                position: fixed;
                height: 70px;
                width: 1300px;
                z-index: 3;
            }
            .head1{
                position: fixed;
                left: 65px;
                top: 0px;
                color: white;
               
            }
           .head2{
               position: fixed;
               right: 120px;
               top: 15px;
               padding: 10px;
               text-decoration: none;
               border-style:  solid;
               border-width: 1px;
               border-radius:10px;
               border-color: white;
                color: white;

                 
                  }
                  
                  .head3{
               position: fixed;
               right: 30px;
               top: 15px;
               padding: 10px;
               text-decoration: none;
               border-style:  solid;
               border-width: 1px;
               border-radius:10px;
               border-color: white;
               color: white;
                
                  }
             
             .h{
                 width: 100%;
                 top: 70px;
                 height: 580px;
                 position: relative;
                 margin: 0px;
                 background-image: url("Resource/images/nnn.jpg");
                 background-size: 100%
               
                 
                
             }
             .foot{
              margin-top: 70px;
             background-color: #0E185F;
                 }
             .btn{
                 margin-left: 20px;
             }
             .images{
                 width: 50px;
                 height: 50px;
                 border-radius: 40px;
                 
             }
              .images1{
                 width: 50px;
                 height: 50px;
                 border-radius: 100px;
                 margin: 0px;
                 }
              .images2{
                 width: 50px;
                 height: 50px;
                 border-radius: 100px;
                 margin: 0px;
                 
             }
             .divimage{
                 width: 100%;
                 height: 580px;
                 margin: 0px;
             }
             .cop{
                 padding: 0;
                 margin: 0;
                 color: wheat;
                 opacity: 0.8;
             }
             .lorem{
                 width: 580px;
                 padding-top: 60px;
                 padding-left: 350px;
                 text-align: left;
                 font-style: italic;
                 font-size: 1.2rem;
                 
                 
             }
             .log2{
               position: fixed;
               width: 60px;
               height: 60px;
              left: 0px;
              top: 5px;
               border-radius: 100px;
             }
              .head2:hover {
         
            background-color: #495579;
              }
              .head3:hover {
         
            background-color: #495579;
              }
             
